body {
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;
	padding-top: 50px;
	font-family: "Lato",sans-serif;
}


.header {
	padding-top: 0px;
	padding-bottom: 75px;
	text-align: center;
	background-size: cover;
	height: 0px;
}

.buttommulti {
	padding-bottom: 17px;
	padding-top: 17px;
}

.multi {
	width: 311px;
	height: 175px;
	border-radius: 5px;
}

.white {
	box-shadow: 0 0 10px #828282;
	background-color: #fff;
	padding-bottom: 25px;
}

td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
	display: inline-block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: .3s;
	font-size: 17px;
}


ul.tab li a:hover {
	background-color: #ddd;
}

ul.tab li a:focus,.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}